
                  <h1 class='text-center title'>用户登录</h1>
                  <%= form_for(@user, url: login_users_path, method: :post, html: { class: "form-horizontal validate-form"}) do |u| %>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <input placeholder="E-mail" class="form-control" data-rule-required="true" name="user[email]" value="<%= @user.email%>" type="text" />
                        <i class='icon-user text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <input value="" placeholder="Password" class="form-control" data-rule-required="true" name="user[password]" type="password" />
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group checkbox'>
                      <label for='remember_me' class='controls' style="font-weight:normal">
                        <input id='remember_me' name='user[remember_me]' type='checkbox' value='1'>
                        自动登录?
                      </label>
                    </div>
                    <div class='form-group'>
                      <button class='btn btn-block'> 登 录 </button>
                    </div>
                  <% end %>
                  <div class='text-center'>
                    <hr class='hr-normal'>
                    <%= link_to "忘记密码?", forgot_password_users_path %>
                    <%= link_to "还未注册?", sign_up_users_path %>
                  </div>