/*
 *= require_self
 *= require bootstrap/bootstrap
 *= require jquery/jquery_ui
*/
p{text-indent:2em;}
ul.box-select > li{cursor:pointer;}
.vbottom{vertical-align:text-top;}
.vmiddle{vertical-align:middle;}
#accurate-search{cursor:pointer;}
#search_panel{margin-top:6px;display:none;}
