/*
 *= require application
 *= require demo
 *= require light-theme
 *= require theme-colors
 *= require plugins/bootstrap_daterangepicker/bootstrap-daterangepicker
 *= require plugins/fullcalendar/fullcalendar
 *= require plugins/common/bootstrap-wysihtml5
*/