<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border' style='margin-bottom:0;'>
      <div class='box-content box-no-padding'>
        <%= render partial:  'grid' %>
      </div>
    </div>
  </div>
</div>