<!DOCTYPE html>
<html>
	<head>
    <title>测试测试页面</title>
    <script src="/test/kobe.js?body=1"></script>
    <link href="/test/kobe.css?body=1" media="screen" rel="stylesheet" />
    <%#= stylesheet_link_tag "test" %>
    <%= javascript_include_tag "test" %>

	</head>
	<body>
		<%= yield %>
  </body>
</html>