<!DOCTYPE html>
<html>
	<head>
    <title>测试测试页面</title>
    <script src="/assets/jquery/jquery.min.js?body=1"></script>
    <script src="/assets/jquery.ztree.all-3.5.js?body=1"></script>
    <link href="/assets/zTreeStyle.css?body=1" media="screen" rel="stylesheet" />
	</head>
	<body>
		<%= yield %>
  </body>
</html>