<div class='row'>
  <div class='col-sm-5 col-lg-4'>
    <div class='box'>
			<%= render :partial => '/kobe/ztree_show',:locals=>{:act => "index", :get_path => ztree_kobe_menus_path, :post_path => move_kobe_menus_path} %>
    </div>
  </div>
  <div class='col-sm-7 col-lg-8'>
    <div class='box' id="menu_form">
			<%= render :partial => 'form',:locals=>{:act=>"index"} %>
    </div>
  </div>
</div>
